id ICON "amber.ico"
1 VERSIONINFO
FILEVERSION     1,3,0,0
PRODUCTVERSION  1,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "INVICTUS EUROPE"
      VALUE "FileDescription", "Amber Packer - Reflective PE Packer"
      VALUE "FileVersion", "1.3"
      VALUE "InternalName", "Amber"
      VALUE "LegalCopyright", "Ege Balcı"
      VALUE "OriginalFilename", "amber.exe"
      VALUE "ProductName", "Amber"
      VALUE "ProductVersion", "1.3"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
